{% if app.flashes('success') %}
    <div class="alert alert-success">
        {{ app.flashes('success')|join('<br>') }}
    </div>
{% endif %}
{% if app.flashes('error') %}
    <div class="alert alert-danger">
        {{ app.flashes('error')|join('<br>') }}
    </div>
{% endif %}