{# templates/partials/menu_admin.html.twig #}
<li class="nav-item"><a class="nav-link" href="{{ path('app_add_cliente') }}">Crear Cliente</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path('app_list', {'entity': 'cliente'}) }}">Listar Clientes</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path('app_add_tarea') }}">Crear Tarea</a></li>