/* Add here all your CSS customizations */
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: #ff5733 !important;
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-weight: bold;

}/* Add here all your CSS customizations */
